.kick{
    background-image: url("https://thumbs.dreamstime.com/b/grass-12730885.jpg");
}
.kick{
    box-shadow: -5px -5px 10px black;
    width: 1200px;
    height: 500px;
    margin: 200px auto;
    position: relative;
}
div>div>img{
    animation:ball 5s linear 0s infinite normal;
    position: relative;
}
.kick>img:first-child{
    display: inline-block;
    width: 100px;
    height: 170px;
    margin: 0px 0px 0px 0px;
    padding:0px 0px 0px 0px ;
}
.kick>img:nth-child(2){
    display: inline-block;
    width: 100px;
    height: 170px;
    margin: 0px 0px -330px 0px;
    padding:0px 96px 0px 96px ;
}
.kick>img:nth-child(3){
    display: inline-block;
    width: 100px;
    height: 170px;
    margin: 0px 0px 0px 0px;
    padding:0px 0px 0px 960px ;
}
.kick>img:nth-child(4){
    display: inline-block;
    width: 100px;
    height: 170px;
    margin: 0px 0px -330px 0px;
    padding:0px 0px 0px 96px ;
}
.kick>img:nth-child(5){
    display: inline-block;
    width: 100px;
    height: 170px;
    margin: 0px 0px 0px 0px;
    padding:0px 0px 0px 96px ;
}
.kick>img:nth-child(6){
    display: inline-block;
    width: 100px;
    height: 170px;
    margin: 0px 0px -200px 0px;
    padding:0px 0px 0px 96px ;
}
.kick>.football>img:first-child{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0px 0px 0px 0px;
    border-radius: 50px;
}
@keyframes ball{
    0%{
        top: -53px;
        bottom: 58px;
        left: 10px;
    }
    20%{
        top: 291px;
        bottom: 62px;
        left: 209px;
    }
    40%{
        top: -55px;
        bottom: 62px;
        left: 500px;
    }
    60%{
        top: 290px;
        bottom: 62px;
        left: 705px;
    }
    80%{
        top: -55px;
        bottom: 62px;
        left: 907px;
    }
    100%{
        top: 123px;
        bottom: 62px;
        left: 1170px;
    }
}